<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobi saya</title>
    <!-- file CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bree Serif" rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'Style.css' %}">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black;">
        <a class="navbar-brand" href="#">Hobi Alfred Prasetio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:profile' %}">Profil</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link " href="{% url 'homepage:hobi' %}">Hobi<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:pengalaman' %}">Pengalaman</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:contact' %}">Hubungi Saya</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:pelajaran' %}">Jadwal</a>
          </li>
          </ul>
        </div>
      </nav>
    
    <div class="section2">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <h1 class="font-profile">Gaming</h1>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 50%; height: 50%; margin: auto;">
                         <div class="carousel-item active">
                           <img class="d-block w-100" src="{% static 'valorant.jpg' %}". alt="First slide">
                           <div class="carousel-caption d-none d-md-block">
                            <h5>Valorant</h5>
                          </div>
                          </div>
                          <div class="carousel-item">
                           <img class="d-block w-100" src="{% static 'dota.jpg' %}" alt="Second slide">
                           <div class="carousel-caption d-none d-md-block">
                            <h5>DoTA 2</h5>
                          </div>                          
                        </div>
                          <div class="carousel-item">
                           <img class="d-block w-100" src="{% static 'genshin.png' %}" alt="Third slide">
                           <div class="carousel-caption d-none d-md-block">
                            <h5 style="color: black;">Genshin Impact</h5>
                          </div>                          
                        </div>
                          <div class="carousel-item">
                           <img class="d-block w-100" src="{% static 'among.jpg' %}" alt="Fourth slide">
                           <div class="carousel-caption d-none d-md-block">
                            <h5>Among Us</h5>
                          </div>                          
                        </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                         <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href='#carouselExampleControls' role="button" data-slide="next">
                         <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                        <p></p>
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
              <div class="col-md-12" style="text-align: center;">
                  <h1 class="font-profile">Gaming adalah hobi saya sejak SMP. Saya mulai bermain game karena diajak oleh teman saya. Saya tertarik dengan game dan akhirnya saya hobi bermain game.</h1>
                  <p></p>
              </div>
          </div>
      </div>
    </div>

</body>
</html>