<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadwal Pelajaran</title>
    <!-- file CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bree Serif" rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'Style.css' %}">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black;">
        <a class="navbar-brand" href="#">Jadwal Alfred Prasetio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="{% url 'homepage:profile' %}">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:hobi' %}">Hobi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:pengalaman' %}">Pengalaman</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'homepage:contact' %}">Hubungi Saya</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'homepage:pelajaran' %}">Jadwal<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action='' method='POST'>
                    {% csrf_token %}
                    {{ form }}
                    <div class="centre-items">
                        <input type="submit" class="btn btn-primary" value="Tambah Matkul">
                    </div>
                </form>
                <table class ="table">
                    <thead>
                        <tr>
                            <th scope ="col">Nama Mata Kuliah</th>
                            <th scope ="col">Dosen Pengajar</th>
                            <th scope ="col">Jumlah SKS</th>
                            <th scope ="col">Deskripsi Mata Kuliah</th>
                            <th scope ="col">Semester Tahun</th>
                            <th scope ="col">Ruang Kelas</th>
                            <th scope ="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jadwal in sched %}
                            <tr>
                                <th scope ="row">{{jadwal.NamaMatkul}}</th>
                                <td>{{jadwal.DosenPengajar}}</td>
                                <td>{{jadwal.JumlahSKS}}</td>
                                <td>{{jadwal.DeskripsiMataKuliah}}</td>
                                <td>{{jadwal.SemesterTahun}}</td>
                                <td>{{jadwal.RuangKelas}}</td>
                                <td><a href="{% url 'Delete' pk=jadwal.pk %}"><button class="btn btn-icon btn-danger">Delete</button></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</head>
</html>